# Cấu hình Database MySQL
MYSQL_HOST=mysql_db
MYSQL_USER=root
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=bk_ids

# Cấu hình Ngưỡng CuSUM Anomaly
CUSUM_THRESHOLD=700.0

# Cấu hình Dải mạng bảo vệ của Snort 3 (Sửa theo mạng thực tế)
HOME_NET=192.168.142.0/24
