# Thông tin nhạy cảm
.env
__pycache__/
*.pyc

# Dữ liệu động của hệ thống
bans_state.json
core_engine/rules_db.json
web_dashboard/backend_api/logs/

# File lớn hoặc file tạm
*.log
*.pcap

# Thư mục chứa log sinh ra tự động
logs/*.txt
snort_logs/*.txt
snort_logs/*.json

# File nhạy cảm
storage/auth_users.json
